<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bem.mapper.AppPassAdviceMapper">
  <resultMap id="BaseResultMap" type="com.bem.domain.AppPassAdvice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="TASK_ID" jdbcType="INTEGER" property="taskId" />
    <result column="PASS_ADVICE" jdbcType="VARCHAR" property="passAdvice" />
    <result column="ARGEE_FLAG" jdbcType="SMALLINT" property="argeeFlag" />
    <result column="PROCESS_INSTANCE_ID" jdbcType="DECIMAL" property="processInstanceId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="ARGEE_OID" jdbcType="INTEGER" property="argeeOid" />
    <result column="ARGEE_DATE" jdbcType="TIMESTAMP" property="argeeDate" />
    <result column="ARGEE_ONAME" jdbcType="VARCHAR" property="argeeOname" />
    <result column="HAVA_PROJECT" jdbcType="INTEGER" property="havaProject" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, APP_ID, TASK_ID, PASS_ADVICE, ARGEE_FLAG, PROCESS_INSTANCE_ID, CREATE_DATE, ARGEE_OID, 
    ARGEE_DATE, ARGEE_ONAME, HAVA_PROJECT
  </sql>
  <select id="selectByExample" parameterType="com.bem.domain.AppPassAdviceExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from APP_PASS_ADVICE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.bem.domain.AppPassAdviceExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from APP_PASS_ADVICE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.bem.domain.AppPassAdviceExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from APP_PASS_ADVICE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update APP_PASS_ADVICE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appId != null">
        APP_ID = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskId != null">
        TASK_ID = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.passAdvice != null">
        PASS_ADVICE = #{record.passAdvice,jdbcType=VARCHAR},
      </if>
      <if test="record.argeeFlag != null">
        ARGEE_FLAG = #{record.argeeFlag,jdbcType=SMALLINT},
      </if>
      <if test="record.processInstanceId != null">
        PROCESS_INSTANCE_ID = #{record.processInstanceId,jdbcType=DECIMAL},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.argeeOid != null">
        ARGEE_OID = #{record.argeeOid,jdbcType=INTEGER},
      </if>
      <if test="record.argeeDate != null">
        ARGEE_DATE = #{record.argeeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.argeeOname != null">
        ARGEE_ONAME = #{record.argeeOname,jdbcType=VARCHAR},
      </if>
      <if test="record.havaProject != null">
        HAVA_PROJECT = #{record.havaProject,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update APP_PASS_ADVICE
    set ID = #{record.id,jdbcType=BIGINT},
      APP_ID = #{record.appId,jdbcType=VARCHAR},
      TASK_ID = #{record.taskId,jdbcType=INTEGER},
      PASS_ADVICE = #{record.passAdvice,jdbcType=VARCHAR},
      ARGEE_FLAG = #{record.argeeFlag,jdbcType=SMALLINT},
      PROCESS_INSTANCE_ID = #{record.processInstanceId,jdbcType=DECIMAL},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      ARGEE_OID = #{record.argeeOid,jdbcType=INTEGER},
      ARGEE_DATE = #{record.argeeDate,jdbcType=TIMESTAMP},
      ARGEE_ONAME = #{record.argeeOname,jdbcType=VARCHAR},
      HAVA_PROJECT = #{record.havaProject,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>