<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bem.mapper.AppUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.bem.domain.AppUserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="APP_NO" jdbcType="VARCHAR" property="appNo" />
    <result column="TEMPLATE_ID" jdbcType="INTEGER" property="templateId" />
    <result column="CUSTOMER_ID" jdbcType="BIGINT" property="customerId" />
    <result column="USER_NO" jdbcType="VARCHAR" property="userNo" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="BUSINESS_PLACE_CODE" jdbcType="INTEGER" property="businessPlaceCode" />
    <result column="WRITE_SECT_ID" jdbcType="VARCHAR" property="writeSectId" />
    <result column="ALL_CAPACITY" jdbcType="DECIMAL" property="allCapacity" />
    <result column="TRADE_TYPE" jdbcType="SMALLINT" property="tradeType" />
    <result column="ELEC_TYPE" jdbcType="SMALLINT" property="elecType" />
    <result column="VOLT_LEVEL_TYPE" jdbcType="SMALLINT" property="voltLevelType" />
    <result column="MS_MODE_TYPE" jdbcType="SMALLINT" property="msModeType" />
    <result column="LOAD_TYPE" jdbcType="SMALLINT" property="loadType" />
    <result column="IS_HIGH_TYPE" jdbcType="SMALLINT" property="isHighType" />
    <result column="TEMP_TYPE" jdbcType="SMALLINT" property="tempType" />
    <result column="CREDIT_RANK_TYPE" jdbcType="SMALLINT" property="creditRankType" />
    <result column="WRITE_TYPE" jdbcType="SMALLINT" property="writeType" />
    <result column="USER_TYPE" jdbcType="SMALLINT" property="userType" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATUS" jdbcType="SMALLINT" property="status" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="SUBMIT_DATE" jdbcType="TIMESTAMP" property="submitDate" />
    <result column="PROC_INST_ID" jdbcType="VARCHAR" property="procInstId" />
    <result column="APPLY_DATE" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="PHONE_NUMBER" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="APP_STATUS" jdbcType="VARCHAR" property="appStatus" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="TG_ID" jdbcType="BIGINT" property="tgId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, APP_NO, TEMPLATE_ID, CUSTOMER_ID, USER_NO, USER_NAME, ADDRESS, BUSINESS_PLACE_CODE, 
    WRITE_SECT_ID, ALL_CAPACITY, TRADE_TYPE, ELEC_TYPE, VOLT_LEVEL_TYPE, MS_MODE_TYPE, 
    LOAD_TYPE, IS_HIGH_TYPE, TEMP_TYPE, CREDIT_RANK_TYPE, WRITE_TYPE, USER_TYPE, REMARK, 
    STATUS, CREATE_DATE, SUBMIT_DATE, PROC_INST_ID, APPLY_DATE, PHONE_NUMBER, APP_STATUS, 
    TASK_ID, SOURCE, TG_ID
  </sql>
  <select id="selectByExample" parameterType="com.bem.domain.AppUserInfoExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from APP_USER_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.bem.domain.AppUserInfoExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from APP_USER_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.bem.domain.AppUserInfoExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from APP_USER_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update APP_USER_INFO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appNo != null">
        APP_NO = #{record.appNo,jdbcType=VARCHAR},
      </if>
      <if test="record.templateId != null">
        TEMPLATE_ID = #{record.templateId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null">
        CUSTOMER_ID = #{record.customerId,jdbcType=BIGINT},
      </if>
      <if test="record.userNo != null">
        USER_NO = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.businessPlaceCode != null">
        BUSINESS_PLACE_CODE = #{record.businessPlaceCode,jdbcType=INTEGER},
      </if>
      <if test="record.writeSectId != null">
        WRITE_SECT_ID = #{record.writeSectId,jdbcType=VARCHAR},
      </if>
      <if test="record.allCapacity != null">
        ALL_CAPACITY = #{record.allCapacity,jdbcType=DECIMAL},
      </if>
      <if test="record.tradeType != null">
        TRADE_TYPE = #{record.tradeType,jdbcType=SMALLINT},
      </if>
      <if test="record.elecType != null">
        ELEC_TYPE = #{record.elecType,jdbcType=SMALLINT},
      </if>
      <if test="record.voltLevelType != null">
        VOLT_LEVEL_TYPE = #{record.voltLevelType,jdbcType=SMALLINT},
      </if>
      <if test="record.msModeType != null">
        MS_MODE_TYPE = #{record.msModeType,jdbcType=SMALLINT},
      </if>
      <if test="record.loadType != null">
        LOAD_TYPE = #{record.loadType,jdbcType=SMALLINT},
      </if>
      <if test="record.isHighType != null">
        IS_HIGH_TYPE = #{record.isHighType,jdbcType=SMALLINT},
      </if>
      <if test="record.tempType != null">
        TEMP_TYPE = #{record.tempType,jdbcType=SMALLINT},
      </if>
      <if test="record.creditRankType != null">
        CREDIT_RANK_TYPE = #{record.creditRankType,jdbcType=SMALLINT},
      </if>
      <if test="record.writeType != null">
        WRITE_TYPE = #{record.writeType,jdbcType=SMALLINT},
      </if>
      <if test="record.userType != null">
        USER_TYPE = #{record.userType,jdbcType=SMALLINT},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitDate != null">
        SUBMIT_DATE = #{record.submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.procInstId != null">
        PROC_INST_ID = #{record.procInstId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDate != null">
        APPLY_DATE = #{record.applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phoneNumber != null">
        PHONE_NUMBER = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.appStatus != null">
        APP_STATUS = #{record.appStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.taskId != null">
        TASK_ID = #{record.taskId,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        SOURCE = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.tgId != null">
        TG_ID = #{record.tgId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update APP_USER_INFO
    set ID = #{record.id,jdbcType=BIGINT},
      APP_NO = #{record.appNo,jdbcType=VARCHAR},
      TEMPLATE_ID = #{record.templateId,jdbcType=INTEGER},
      CUSTOMER_ID = #{record.customerId,jdbcType=BIGINT},
      USER_NO = #{record.userNo,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      BUSINESS_PLACE_CODE = #{record.businessPlaceCode,jdbcType=INTEGER},
      WRITE_SECT_ID = #{record.writeSectId,jdbcType=VARCHAR},
      ALL_CAPACITY = #{record.allCapacity,jdbcType=DECIMAL},
      TRADE_TYPE = #{record.tradeType,jdbcType=SMALLINT},
      ELEC_TYPE = #{record.elecType,jdbcType=SMALLINT},
      VOLT_LEVEL_TYPE = #{record.voltLevelType,jdbcType=SMALLINT},
      MS_MODE_TYPE = #{record.msModeType,jdbcType=SMALLINT},
      LOAD_TYPE = #{record.loadType,jdbcType=SMALLINT},
      IS_HIGH_TYPE = #{record.isHighType,jdbcType=SMALLINT},
      TEMP_TYPE = #{record.tempType,jdbcType=SMALLINT},
      CREDIT_RANK_TYPE = #{record.creditRankType,jdbcType=SMALLINT},
      WRITE_TYPE = #{record.writeType,jdbcType=SMALLINT},
      USER_TYPE = #{record.userType,jdbcType=SMALLINT},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=SMALLINT},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      SUBMIT_DATE = #{record.submitDate,jdbcType=TIMESTAMP},
      PROC_INST_ID = #{record.procInstId,jdbcType=VARCHAR},
      APPLY_DATE = #{record.applyDate,jdbcType=TIMESTAMP},
      PHONE_NUMBER = #{record.phoneNumber,jdbcType=VARCHAR},
      APP_STATUS = #{record.appStatus,jdbcType=VARCHAR},
      TASK_ID = #{record.taskId,jdbcType=VARCHAR},
      SOURCE = #{record.source,jdbcType=VARCHAR},
      TG_ID = #{record.tgId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>