<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bem.mapper.TaskListMapper">
    <select id="selectCustomerByApp" parameterType="java.util.Map" resultType="java.util.Map">
        select
        A.ID id,
        APP_NO appNo,
        CUSTOMER_NO customerNo,
        CUSTOMER_NAME customerName,
        CUSTOMER_NAME_SPELL customerNoSpell,
        ADDRESS address,
        ADDRESS_SPELL addressSpell,
        CARD_TYPE cardType,
        CARD_NO cardNo,
        LINK_MAN linkMan,
        CONTACT_INFORMATION contactInformation,
        REMARK remark,
        STATUS status,
        V.ID taskId,
        V.PROC_INST_ID processInstanceId,
        V.EXECUTION_ID executionId,
        V.NAME name,
        V.TASK_DEF_KEY taskDefKey,
        V.CREATE_TIME createTime,
        V.GROUP_ID groupId,
        V.USER_ID userId,
        V.BUSINESS_KEY businessKey
        from V_TASKLIST V,APP_CUSTOMER_INFO A
        WHERE V.BUSINESS_KEY = A.APP_NO
        AND EXISTS ( SELECT 1 FROM APP_USER_INFO act WHERE
        act.APP_NO = a.APP_NO and
        IFNULL(act.APP_STATUS,'Y')  &lt;&gt; 'N')
        AND (V.USER_ID = #{userId}
        <if test="roleIds != null and roleIds.trim().length()>0">
            OR V.GROUP_ID IN
            <foreach collection="roleIds.split(',')" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        )
    </select>

    <select id="selectUserByApp" parameterType="java.util.Map" resultType="java.util.Map">
        select
        A.ID id,
        APP_NO appNo,
        TEMPLATE_ID templateId,
        CUSTOMER_ID customerId,
        USER_NO userNo,
        USER_NAME userName,
        ADDRESS address,
        BUSINESS_PLACE_CODE businessPlaceCode,
        WRITE_SECT_NO writeSectNo,
        ALL_CAPACITY allCapacity,
        TRADE_TYPE tradeType,
        ELEC_TYPE elecType,
        VOLT_LEVEL_TYPE voltLevelType,
        MS_MODE_TYPE msModeType,
        LOAD_TYPE loadType,
        IS_HIGH_TYPE isHighType,
        TEMP_TYPE tempType,
        CREDIT_RANK_TYPE creditRankType,
        WRITE_TYPE writeType,
        USER_TYPE userType,
        REMARK remark,
        STATUS status,
        A.BUSINESS_PLACE_CODE businessPlaceCode,
        V.ID taskId,
        V.PROC_INST_ID processInstanceId,
        V.EXECUTION_ID executionId,
        V.NAME name,
        V.TASK_DEF_KEY taskDefKey,
        V.CREATE_TIME createTime,
        V.GROUP_ID groupId,
        V.USER_ID userId,
        V.BUSINESS_KEY businessKey
        from V_TASKLIST V,APP_USER_INFO A
        WHERE V.BUSINESS_KEY = A.APP_NO
        AND IFNULL(A.APP_STATUS,'Y') &lt;&gt; 'N'
        <if test="userDepts != null and userDepts.trim().length()>0">
            AND A.BUSINESS_PLACE_CODE IN
            <foreach collection="userDepts.split(',')" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        AND (V.USER_ID = #{userId}
        <if test="roleIds != null and roleIds.trim().length()>0">
            OR V.GROUP_ID IN
            <foreach collection="roleIds.split(',')" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="businessPlaceCode != null and  businessPlaceCode !=''">
        AND  A.BUSINESS_PLACE_CODE = #{businessPlaceCode}
        </if>
        <if test="appNo != null and  appNo !=''">
            AND  APP_NO like CONCAT('%',#{appNo},'%')
        </if>
        <if test="userName != null and  userName !=''">
            AND  USER_NAME like CONCAT('%',#{userName},'%')
        </if>
        )
        ORDER BY A.APPLY_DATE desc
    </select>

    <select id="queryHistoricTask" parameterType="java.lang.String" resultType="java.util.Map">
        select
        b.id id,
        b.APP_NO appNo,
        b.TEMPLATE_ID templateId,
        b.USER_NO userNo,
        b.USER_NAME userName,
        b.ADDRESS address,
        b.BUSINESS_PLACE_CODE businessPlaceCode,
        b.WRITE_SECT_NO writeSectNo,
        b.ALL_CAPACITY allCapacity,
        b.TRADE_TYPE tradeType,
        b.ELEC_TYPE elecType,
        b.VOLT_LEVEL_TYPE voltLevelType,
        b.MS_MODE_TYPE msModeType,
        b.LOAD_TYPE loadType,
        b.IS_HIGH_TYPE isHighType,
        b.TEMP_TYPE tempType,
        b.CREDIT_RANK_TYPE creditRankType,
        b.WRITE_TYPE writeType,
        b.USER_TYPE userType,
        b.REMARK remark,
        a.START_TIME_ startTime,
        a.END_TIME_ endTime,
        a.TASK_DEF_KEY_ taskDefKey,
        a.ASSIGNEE_ assignee,
        a.NAME_ name,
        a.ID_ taskId,
        a.PROC_INST_ID_ processInstanceId,
        a.EXECUTION_ID_ executionId
        from ACT_HI_TASKINST a,APP_USER_INFO b
        where a.PROC_INST_ID_=b.PROC_INST_ID
        AND IFNULL(b.APP_STATUS,'Y') &lt;&gt; 'N'
        AND b.PROC_INST_ID = #{processInstanceId}
        order by a.START_TIME_ desc
    </select>

    <select id="queryFinishTask" parameterType="java.lang.String" resultType="java.util.Map">
       SELECT
            taskinst.PROC_INST_ID_ processInstanceId,
            taskinst.TASK_DEF_KEY_ taskDefKey,
            max(taskinst.START_TIME_) startTime,
            max(taskinst.END_TIME_) endTime,
            max(taskinst.NAME_) name
        FROM
            ACT_HI_TASKINST taskinst
        WHERE
             NOT EXISTS ( SELECT 1 FROM ACT_RU_TASK act WHERE act.PROC_INST_ID_ = taskinst.PROC_INST_ID_ )
             AND EXISTS ( SELECT 1 FROM APP_USER_INFO act WHERE
              act.PROC_INST_ID = taskinst.PROC_INST_ID_ and
             IFNULL(act.APP_STATUS,'Y')  &lt;&gt; 'N')
             AND taskinst.PROC_INST_ID_= #{processInstanceId}
         group by taskinst.PROC_INST_ID_,taskinst.TASK_DEF_KEY_

    </select>

    <select id="queryHighFinishApp" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT
            APP_NO appNo,
            BUSINESS_PLACE_CODE businessPlaceCode,
            PROC_INST_ID processInstanceId,
            USER_NO userNo,
            USER_NAME userName,
            TEMPLATE_ID templateId,
            APPLY_DATE applyDate,
            BUSINESS_PLACE_CODE businessPlaceCode
        FROM
            APP_USER_INFO info
        WHERE
             NOT EXISTS ( SELECT 1 FROM ACT_RU_TASK act WHERE act.PROC_INST_ID_ = info.PROC_INST_ID )
             AND IFNULL(info.APP_STATUS,'Y')  &lt;&gt; 'N'
            <if test="userDepts != null and userDepts.trim().length()>0">
                AND info.BUSINESS_PLACE_CODE IN
                <foreach collection="userDepts.split(',')" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
             AND info.template_id in (1,6)
            <if test="businessPlaceCode != null and  businessPlaceCode !=''">
                AND  BUSINESS_PLACE_CODE = #{businessPlaceCode}
            </if>
            <if test="appNo != null and  appNo !=''">
                AND  APP_NO like CONCAT('%',#{appNo},'%')
            </if>
            <if test="userName != null and  userName !=''">
                AND  USER_NAME like CONCAT('%',#{userName},'%')
            </if>
        order by info.APPLY_DATE desc

    </select>

    <select id="queryLowFinishApp" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT
            APP_NO appNo,
            PROC_INST_ID processInstanceId,
            BUSINESS_PLACE_CODE businessPlaceCode,
            USER_NO userNo,
            USER_NAME userName,
            TEMPLATE_ID templateId,
            APPLY_DATE applyDate,
            BUSINESS_PLACE_CODE businessPlaceCode
        FROM
            APP_USER_INFO info
        WHERE
             NOT EXISTS ( SELECT 1 FROM ACT_RU_TASK act WHERE act.PROC_INST_ID_ = info.PROC_INST_ID )
             AND IFNULL(info.APP_STATUS,'Y')  &lt;&gt; 'N'
            <if test="userDepts != null and userDepts.trim().length()>0">
                AND info.BUSINESS_PLACE_CODE IN
                <foreach collection="userDepts.split(',')" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
             AND info.template_id not in (1,6)
            <if test="businessPlaceCode != null and  businessPlaceCode !=''">
                AND  BUSINESS_PLACE_CODE = #{businessPlaceCode}
            </if>
            <if test="appNo != null and  appNo !=''">
                AND  APP_NO like CONCAT('%',#{appNo},'%')
            </if>
            <if test="userName != null and  userName !=''">
                AND  USER_NAME like CONCAT('%',#{userName},'%')
            </if>
        order by info.APPLY_DATE desc
    </select>


    <select id="queryFinishAppDate" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
	i.APP_NO appNo,
	i.PROC_INST_ID processInstanceId,
	i.BUSINESS_PLACE_CODE businessPlaceCode,
	i.USER_NO userNo,
	i.USER_NAME userName,
	i.TEMPLATE_ID templateId,
	i.APPLY_DATE applyDate,
	i.BUSINESS_PLACE_CODE businessPlaceCode,
    f1p1.id_ f1p1Id,
	f1p1.endTime  submitDate,
    f1p23.id_ f1p23Id,
	f1p23.endTime  taskEndDate,
	c.CONSTRUCTION_DATE constructionDate,
	a.ASSEM_DATE assemDate,
	r.POWER_SUPPLY_DATE powerSupplyDate,
	r.CIRCUMSTANCE_DATE circumstanceDate
FROM
	APP_USER_INFO i
LEFT JOIN (
	SELECT
        id_ ,
		taskinst.PROC_INST_ID_ processInstanceId,
		taskinst.TASK_DEF_KEY_ taskDefKey,
		max(taskinst.START_TIME_) startTime,
		max(taskinst.END_TIME_) endTime,
		max(taskinst.NAME_) NAME
	FROM
		ACT_HI_TASKINST taskinst
	WHERE
		NOT EXISTS (
			SELECT
				1
			FROM
				ACT_RU_TASK act
			WHERE
				act.PROC_INST_ID_ = taskinst.PROC_INST_ID_
		)
	and TASK_DEF_KEY_='bem-f1-p1'
	GROUP BY
		taskinst.PROC_INST_ID_,
		taskinst.TASK_DEF_KEY_
) f1p1 on  i.PROC_INST_ID=f1p1.processInstanceId
LEFT JOIN (
	SELECT
        id_ ,
		taskinst.PROC_INST_ID_ processInstanceId,
		taskinst.TASK_DEF_KEY_ taskDefKey,
		max(taskinst.START_TIME_) startTime,
		max(taskinst.END_TIME_) endTime,
		max(taskinst.NAME_) NAME
	FROM
		ACT_HI_TASKINST taskinst
	WHERE
		NOT EXISTS (
			SELECT
				1
			FROM
				ACT_RU_TASK act
			WHERE
				act.PROC_INST_ID_ = taskinst.PROC_INST_ID_
		)
	and TASK_DEF_KEY_='bem-f1-p23'
	GROUP BY
		taskinst.PROC_INST_ID_,
		taskinst.TASK_DEF_KEY_
) f1p23 on  i.PROC_INST_ID=f1p23.processInstanceId
left join  APP_COMPELETE c ON i.PROC_INST_ID=c.PROCESS_INSTANCE_ID
left join APP_ASSEM a on i.PROC_INST_ID=a.PROCESS_INSTANCE_ID
left join APP_CIRCUMSTANCE r on i.PROC_INST_ID=r.PROCESS_INSTANCE_ID
WHERE
	NOT EXISTS (
		SELECT
			1
		FROM
			ACT_RU_TASK act
		WHERE
			act.PROC_INST_ID_ = i.PROC_INST_ID
	)
        AND IFNULL(i.APP_STATUS,'Y')  &lt;&gt; 'N'
        <if test="userDepts != null and userDepts.trim().length()>0">
            AND i.BUSINESS_PLACE_CODE IN
            <foreach collection="userDepts.split(',')" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="appNo != null and  appNo !=''">
            AND  i.app_No = #{appNo}
        </if>

        <if test="userName != null and  userName !=''">
            AND  i.user_Name like CONCAT('%',#{userName},'%')
        </if>
    </select>
</mapper>